* {
    margin: 0;
    padding: 0;
  }

  header, section, footer {
    background-color: #f2f2f2;
  }
  
  /* global mode */
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
  }

  .fixed-width {
    width: 500px; /* fixed-width is 500 pixels */
    margin: 0 auto; /* horizontal centering */
    padding: 20px;
    border: 1px solid #ccc;
    overflow-wrap: break-word; /* Make sure the text does not extend beyond the container */
}

  header {
    background-color: #333;
    color: #fff;
    height: 80px;
    width: 100%;
  }
  
  header h1 {
    position: absolute;
    left:120px;
    top: 0;
    line-height: 80px;
  }

  header a {
    color: #fff;
    text-decoration: none;
  }

  header a:hover {
    text-decoration: underline;
  }

  header ul {
    position: absolute;
    right: 1vw;
    top: 0;
    line-height: 80px;
  }
  
  header li {
    display: inline;
    margin-right: 4vw;
  }

  #main {
    padding: 2rem;
    background-color: #f0fff0;
  }
  
  h2 {
    text-align: left;
    margin-top: 30px;
  }
  
  p {
    margin-bottom: 17px;
    line-height: 1.5;
    text-indent: 2em;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  

  footer {
    background-color: #f0fff0;
    padding: 10px;
    text-align: center;
  }
  .button {
    margin: 0;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: content-box;
    box-shadow: 4px 4px 10px rgba(2, 2, 2, 0.582);
    border-radius: 6px;
    color: #333;
    text-decoration: none;
    justify-content: space-between;
  }
  
  .button:hover {
    background-color: #f0fff0;
    box-shadow: 0 5px;
    transition: 0.5s;
  }

  @media (max-width: 600px) {
    * {
        padding: 8px;
        margin: 0 5px;
    }
}

@media (max-width: 400px) {
  * {
      padding: 5px;
      margin: 0 2px;
  }
}
  
html::-webkit-scrollbar {
    width: 10px;
    height: 1px;
  }
  
  html::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ededed;
    border-radius: 10px;
  }
  
  html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(142, 195, 216);
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
      );
  }
  
  html::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }
  
  html::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }