* {
  margin: 0;
  padding: 0;
}

header,
section,
footer {
  background-color: #f2f2f2;
}

/* 全局樣式 */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  height: 80px;
  width: 100%;
}

h1 {
  position: absolute;
  left: 120px;
  top: 0;
  line-height: 80px;
  font-size: 24px;
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header ul {
  position: absolute;
  right: 1vw;
  top: 0;
  line-height: 80px;
}

header li {
  display: inline;
  margin-right: 4vw;
}

/* Add your custom styles here */
/* ... */

/* Style for the three dots */
@media (max-width: 600px) {
  /* Defines styles for the toggle-menu class */
  .toggle-menu {
    display: none; /* Hide menu by default */
    list-style: none;
    padding: 0;
    margin: 0;
}

  /* Defines the style of the toggle-icon class */
  .toggle-icon {
    width: 20px;
    height: 20px;
    background-color: White;
    cursor: pointer;
    margin-left: auto; /* Set the space on the left to auto and push the icons to the right */
    position: relative;
  }

  .toggle-icon::before,
  .toggle-icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
  }

  .toggle-icon::before {
    top: 4px
    right: 4px
  }

  .toggle-icon::after {
    bottom: 4px;
  }
}

main {
  padding: 77.7px;
}

h2 {
  text-align: left;
}

section {
  margin-bottom: 20px;
}

p {
  font-size: 12px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
